.recipe-page{
    background-color: black;
    color: white;
    margin-top: 0;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.recipe-form{
    display: flex;
    flex-direction: column;
    width: 30vw
}
.title{
    color: gray
}
input{
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
}
textarea{
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
}